*~
CMakeLists.txt.user
jolla-tide.pro.user
jolla-tide_en.qm
icons/tide-first-quarter-moon.png 
icons/tide-mark-rising.png
icons/tide-full-moon.png           
icons/tide-moonrise.png
icons/tide-high-tide.png           
icons/tide-moonset.png
icons/tide-invalid.png             
icons/tide-new-moon.png
icons/tide-last-quarter-moon.png   
icons/tide-sunrise.png
icons/tide-low-tide.png            
icons/tide-sunset.png
icons/tide-mark-falling.png
build-jolla-tide-ext3-Debug
build-jolla-tide-updater-ext3-Debug
build-jolla-tide-updater-MerSDK_SailfishOS_armv7hl-Debug
build-jolla-tide-updater-MerSDK_SailfishOS_armv7hl-Release
build-jolla-tide-MerSDK_SailfishOS_armv7hl-Debug
build-jolla-tide-MerSDK_SailfishOS_armv7hl-Release
Eigen
jolla-tide.spec
jolla-tide.png
